body {
  font-size: 100%;
  max-width: 70ex;
  margin: 0 auto 1em;
}

details {
  background-color: #ddd;
  border-color: black;
  border-style: solid;
  border-width: thin;
  padding: 5px;
}
summary { font-weight: bold }

dt { font-weight: bold }

/* TODO: add styling for .offsite links */

table,
th,
td {
  border-collapse: collapse;
}

th,
td {
  padding: 0.25em 1em;
  text-align: center;
  vertical-align: top;
}

/*
TODO: I think I can ditch the footer styling, and instead, style a nav element dropped into both header and footer, with breadcrumbs (see ~/Documents/notes/html.txt).
*/
