body {
  background-color: #fff;
  color: #000;
  font-family: serif;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto 1em;
  max-width: 70ex;
}

em { font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  color: #05b;
  font-family: serif;
  font-weight: bold;
}

details {
  background-color: #bdf;
  border-style: none;
  padding: 5px;
}
summary {
  font-family: serif;
  font-weight: bold;
}

/* TODO: add styling for .offsite links */

table,
th,
td {
  border-collapse: collapse;
}

th,
td {
  padding: 0.25em 1em;
  text-align: center;
  vertical-align: top;
}

tr.unshaded { background-color: #fff; }
tr.shaded { background-color: #ddd; }
tr.shaded-alt { background-color: #bdf; }
/* 3e-style table shading:
tbody tr:nth-child(odd)  { background: #f4e9ce }
tbody tr:nth-child(even) { background: #FFF }
*/
/*
  It seems even and odd are shortcuts for, I'm guessing, 2n and 2n+1, respectively.  Other expressions are possible, like 5n+3 for every fifth row, starting with the third.  It can also be a constant, like 2 for just the second.  Etc.
*/

caption {
  text-align: left;
  font-weight: bold;
}

/*
TODO: I think I can ditch the footer styling, and instead, style a nav element dropped into both header and footer, with breadcrumbs (see ~/Documents/notes/html.txt).
*/
footer { font-size: small; }
